
__pycache__/
.venv/
chat.db
terraform/.terraform/

# Terraform state files
**/*.tfstate
**/*.tfstate.backup

# Ignore self-signed certificates
terraform/infra/self-signed.crt
terraform/infra/self-signed.key

# Ignore Terraform provider binaries and modules
.terraform

# Ignore generated source archive
terraform/app/source.zip
