
__pycache__/
.venv/
chat.db
terraform/.terraform/

# Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore self-signed certificates
terraform/infra/self-signed.crt
terraform/infra/self-signed.key

# Ignore Terraform provider binaries and modules
.terraform
